<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>{{title}}</h1>
    <h4>{{location}}</h4>
    <h5>current temperature: {{temperature}} degree C</h5>
    <h5>wind speed:{{wind}}</h5>
    <p>Created by {{name}}</p>
</body>

</html>